body {
    display: flex; 
    flex-direction: column; 
    margin: 0; 
    /* height: 100vh;
    width: 100vw; */
}

nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 0 20px 0 20px;
}

nav img {
    max-width: 100%; 
    max-height: 100%; 
    height: auto;
}

#nav-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

#hero {
    display: flex;
    align-content: space-evenly;
    height: 90vh;
    background-image: url(/Images/hero-bg.jpg);
    background-size: cover;
    /* opacity: 70%; */
}

#hero-main {
    margin-left: 120px; /* Ajusta la posición X */
    margin-top: 150px;  /* Ajusta la posición Y */
}

#hero-main h3 {
    font: 900;
    font-size: 36px;
    color: #ffffff;
}
#hero-main h1 {
    font: icon;
    font-size: 96px;
    color: #000000;
}

#hero-buttons {
    display: flex;
    gap: 10px;
}

#video{
    height: 100vh;
}