body {
    display: flex; 
    flex-direction: column; 
    margin: 0; 
    /* height: 100vh;
    width: 100vw; */
}

nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 0 20px 0 20px;
}

nav img {
    height: 10vh;
    width: 6.5vw;
}

#nav-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

#hero {
    display: flex;
    align-content: space-evenly;
    height: 90vh;
    background-image: url(/Images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 70%; */
}

#hero-main {
    margin-left: 120px; /* Ajusta la posición X */
    margin-top: 150px;  /* Ajusta la posición Y */
}

#hero-main h3 {
    font: 900;
    font-size: 36px;
    color: #ffffff;
}

#hero-main h1 {
    font: icon;
    font-size: 96px;
    color: #000000;
}

#hero-buttons {
    display: flex;
    gap: 10px;
}

#video {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: stretch; */
    height: 60vh;
    background-image: url(Images/frame2.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

#video iframe {
    height: 100%;
}

.p {
    color: #ffffff;
    width: 25vw;
    height: fit-content;
}

#seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 0 20px;
    row-gap: 20px;
    height: 75vh;
}

#seccion p, h1 {
    width: 80%;
    text-align: center;
}

#seccion img {
    width: 45%;
    height: 75%;
}

#historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.carousel-inner img {
    width: 100%;  /* Ensures the image spans the full width of its container */
    height: 400px;  /* Set a fixed height */
    object-fit: cover;  /* Ensures the image covers the container while maintaining its aspect ratio */
}

.carousel-caption {
    background-color: rgba(128, 128, 128, 0.7); /* Gris semitransparente */
    padding: 10px; /* Espaciado interno para mejor visibilidad */
    border-radius: 5px; /* Opcional: esquinas redondeadas */
}