body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop-frame {
    max-width: 1440px;
    margin: 0 auto;
    height: 1024px;
    background-color: #f5f5f5;
}

#logoW2tWoC {
    position: absolute;
    width: 452px;
    height: 429px;
    left: 494px;
    top: 298px;
    animation: fadeIn 1s;
}

@keyframes fadeIn { 
    from { 
        opacity: 0; 
    } 
    to { 
        opacity: 1; 
    } 
}

.barra-superior {
    display: flex;
    padding-top: 30px;
    padding-right: 30px;
    height: 112px;
    justify-content: flex-end;
    align-items: center;
}

.barra-superior button {
   

}